name: Build assets for a Release

on:
  release:
    types: [published]

jobs:
  build-release:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        build_name:
          [linux-x64-musl]
        include:
          - build_name: linux-x64-musl
            os: ubuntu-latest
            target: x86_64-unknown-linux-musl
    steps:
      - uses: actions/checkout@v4
      - name: Update Rust
        run: rustup update
      - name: Add target
        run: rustup target add ${{ matrix.target }}
      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2
      - name: Build
        shell: bash
        run: |
          cargo build --release --locked --verbose --target ${{ matrix.target }}
      - name: Upload asset
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          asset_path: target/${{ matrix.target }}/release/dotdeploy${{ matrix.exe_suffix }}
          asset_name: dotdeploy-${{ matrix.build_name}}${{ matrix.name_suffix }}
          asset_content_type: application/octet-stream
          upload_url: ${{ github.event.release.upload_url }}
